@{
    ViewBag.Title = "Search Account Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="SearchUserApp">
    <form name="userSearchForm">
        <h2>Search Account Users</h2>
        <div ng-controller="SearchUserController">
            <div class="filter">
                <div class="row">
                    <div class="col-md-1">
                        Environment:
                    </div>
                    <div class="col-md-4">
                        <select data-ng-model="ddlEnvironment" class="form-control" required>
                            <option value="" selected>-- Choose Environment --</option>
                            <option ng-repeat="environment in environments" value="{{environment.EnvId}}">
                                {{environment.EnvironmentName}}
                            </option>
                        </select>
                        <span class="errorMessage" ng-show="userSearchForm.ddlEnvironment.$touched && userSearchForm.ddlEnvironment.$invalid">
                            Environment is required
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        Account Name:
                    </div>
                    <div class="col-md-4">
                        <input type="text" data-ng-model="txtAccountName" autocomplete="off" placeholder="Enter Title" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary" data-ng-click="searchUsers()" ng-disabled="userSearchForm.$invalid || !userSearchForm.$dirty">Search</button>
                    </div>
                </div>
            </div>
            <br />
            <table class="table table-hover table-striped table-condensed table-bordered accountsTable">
                <thead>
                    <tr>
                        <th data-ng-click="setOrder('AccountName')">Account Name</th>
                        <th>Account Comment</th>
                        <th>Account Pwd Encrypted</th>
                        <th>Account Pwd EncryptKey</th>
                        <th>Account Pwd Encryption Type</th>
                        <th>Account Application</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-hide="accounts.length > 0" class="error">
                        <td colspan="6">
                            <div class="text-center"><strong>No account found</strong></div>
                        </td>
                    </tr>
                    <tr data-ng-repeat="account in accounts | orderBy: orderBy" class="repeat-animation">
                        <td>
                            {{ account.AccountName }}
                        </td>
                        <td>
                            {{ account.AccountComment }}
                        </td>
                        <td>
                            {{ account.AccountPwdEncrypted }}
                        </td>
                        <td>
                            {{ account.AccountPwdEncryptKey }}
                        </td>
                        <td>
                            {{ account.AccountEncryptionTypeName }}
                        </td>
                        <td>
                            {{ account.AccountApplication }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>*@
<script src="~/Scripts/angular.min.js"></script>
<script src="~/app/DBASecurityApp/controllers/searchAccountController.js"></script>
 
